.img {
  height: 340px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

.text {
  padding: 30px;
  font-size: 1rem;
}

/* Table en portrait mode */
@media screen and (min-width: 768px) {
  .container {
    padding-top: 90px;
  }
}

/* Table en landscape mode */
@media screen and (min-width: 1024px) {
  .container {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .text {
    width: 500px;
  }
}
